{% extends "blog/base2.html" %}

{% block content %}
<h3 class="text-center mb-2 dashboard animated bounceInDown">Dashboard</h3>

<div class="mymain-container-box">
    <div class="mainbg1">
        <a href="{% url 'profile' %}">
            <h2>Profile</h2>
            <p>@{{ request.user.username }}</p>
        </a>
    </div>
    <div class="mainbg2">
        <a href="{% url 'posts' %}">
            <h2>Admin Posts</h2>  
        </a>
    </div>
    <div class="mainbg2">
        <a href="{% url 'reports' %}">
            <h2>Reports</h2>
            <p></p>  
        </a>
    </div>
   
</div>
<br>


{% endblock %}