{% extends "blog/base2.html" %} 
{% block content %}
<div class="container mt-3">
  <br />
  <span style="position: fixed; ">
    <a title="Become a volunteer" href="{% url 'volunteer_join' %}">
        <i class="fas fa-plus-circle fa-3x"></i>
    </a>
  </span><h3 class="text-center mb-3">Our Volunteers</h3>
  <br />
  <div class="row mb-3">
    {% for v in ourvolunteers %}
    <div class="mb-3 volun-box ml-3">
      <div class="v-box1">
        <div class="volunteer-pic">
          {% if v.photo %}
            <img class="z-depth-1-half" src="{{ v.photo.url }}" alt="volunteer picture">
          {% endif %}
        </div>
        <div class="volunteer-info ml-3">
          <small class="mr-2">Name: </small>
          <small>{{ v.name }}</small><br>
          <small class="mr-2">Email: </small>
          <small>{{ v.email }}</small><br>
          <small class="mr-2">Profession: </small>
          <small>{{ v.profession }}</small><br>
          <small class="mr-2">Country: </small>
          <small>{{ v.country }}</small><br>
          <small class="mr-2">Phone: </small>
          <small>{{ v.phone }}</small><br>
          <small class="mr-2">Why Join Orgeon: </small>
          <small>{{ v.why_join_Orgeon }}</small><br>
          <small class="mr-2">Addition Msg: </small>
          <small>{{ v.additional_message }}</small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
