{% extends "blog/base2.html" %}

{% block content %}
<div class="container mt-3" id="postdetail">
    <section class="my-5">
        <h3 class="font-weight-bold mb-3"><strong>{{ post.title }}</strong></h3>
        <br>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                {% if post.image_file %}
                <img class="w-100 z-depth-1-half" src="{{ post.image_file.url }}" alt="post-detail image">
                {% endif %}
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 admin-post-details">
                <br>
                <p class="pst-msg">
                    {{ post.message }}
                    <br>
                    <div>
                {% if post.post_doc %}
                    <a title="download attached file" href="{{ post.post_doc.url }}" class="butt" download="{{post.title}}" target="_blank">
                        <i class="fas fa-download ml -3"></i> attached file
                     </a>
                {% endif %}
                </p>
            </div>
                <p>
                    <span class="mr-1" style="color: white;">from</span> <span class="from-admin">
                        <img src="{{ post.author.profile.profile_pic.url }}" alt="">
                    </span>,<span style="color: white;"> {{ post.date_posted|date:"D d M Y"}}</span></p>
                <br>

            </div>
        </div>
    </section>
    {% if post.need_replies %}
    <h3 class="text-center mb-3">Reply below</h3>
    <br>

    <div class="main-comment-section mb-3">
        {% include "blog/comment_form.html" %}
    </div>
    {% endif %}

</div>

<script>

    setInterval(function () {
        location.reload();
    }, 10000);

</script>
{% endblock %}